.Inputfields .InputfieldRepeater.RepeaterEasySort {
	// Avoid FOUC if active by default
	&.res-active-default { height:0; overflow:hidden; visibility:hidden;
		&.res-active-default-init { height:auto; overflow:visible; visibility:visible; }
		// Never show exit button if active by default
		> .InputfieldContent > .easy-sort-exit { display:none !important; }
	}
	.easy-sort-mode { float:right; margin-right:6px;
		i { margin-left:5px; margin-right:5px; color:#e83561; width:16px; text-align:center;
			&:hover { color:#d21846; }
			&.res-easy-sort-mode { opacity:0.5; }
		}
	}
	&.InputfieldStateCollapsed {
		> .InputfieldHeader > .easy-sort-mode { display:none; }
	}
	.InputfieldRepeaterItemControls {
		.easy-sort { cursor:pointer; float:right; width:16px; text-align:center; margin-left:-8px; margin-right:10px;
			&:hover { opacity:0.8; }
		}
	}
	.InputfieldRepeaterItem.easy-sort-focus > .InputfieldHeader { background-color:black !important; outline-color:black !important;
		.InputfieldRepeaterItemControls { background-color:black !important; }
	}
	&.easy-sort-active {
		.easy-sort-mode {
			.res-easy-sort-mode { opacity:1; }
			.res-normal-mode { opacity:0.5; }
		}
		> .InputfieldContent > .Inputfields { margin-left:-4px; margin-right:-4px; display:flex; flex-wrap:wrap;
			.AdminThemeDefault &, .AdminThemeReno & { margin-bottom:7px; }
			> .InputfieldRepeaterItem { padding-left:4px; padding-right:4px; background:none;
				.AdminThemeDefault &, .AdminThemeReno & { margin-bottom:8px; }
				&:not(.InputfieldStateCollapsed) { width:100% !important;
					> .InputfieldHeader {
						> .InputfieldRepeaterItemControls { display:block !important;
							> .easy-sort { display:none; }
						}
					}
				}
				> .InputfieldHeader {
					> .InputfieldRepeaterItemControls { display:none !important; }
				}
			}
		}
		&.width-1-1 > .InputfieldContent > .Inputfields > .InputfieldRepeaterItem { width:100%; }
		&.width-1-2 > .InputfieldContent > .Inputfields > .InputfieldRepeaterItem { width:50%; }
		&.width-1-3 > .InputfieldContent > .Inputfields > .InputfieldRepeaterItem { width:33.3333%; }
		&.width-1-4 > .InputfieldContent > .Inputfields > .InputfieldRepeaterItem { width:25%; }
		&.width-1-5 > .InputfieldContent > .Inputfields > .InputfieldRepeaterItem { width:20%; }
		&.width-1-6 > .InputfieldContent > .Inputfields > .InputfieldRepeaterItem { width:16.6666%; }
		&.width-1-7 > .InputfieldContent > .Inputfields > .InputfieldRepeaterItem { width:14.2857%; }
		&.width-1-8 > .InputfieldContent > .Inputfields > .InputfieldRepeaterItem { width:12.5%; }
	}
	.easy-sort-exit {
		i { margin-right:5px; }
	}
}
